[submodule "vendor/php-activerecord"]
	path = vendor/php-activerecord
	url = https://Tieno@github.com/Tieno/php-activerecord.git
[submodule "vendor/Slim-Extras"]
	path = vendor/Slim-Extras
	url = https://Tieno@github.com/Tieno/Slim-Extras.git
